<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" media="screen" href="https://fontlibrary.org//face/lemon" type="text/css"/>
    <link rel="stylesheet" href="CssLogin.css">

    <title>CONVERTIC STORE</title>
</head>
<body>    
    <h2><img src="logo_copia-removebg-preview.png" alt=""></h2>
   <div>
        <form action="">
            <h1>Iniciar Sesión</h1>
            <input type="email" placeholder="Ingrese su Correo"> <br>
            <input type="password" placeholder="Ingrese su contraseña"><br>        
            <button>Iniciar Sesion</button>            
            <p class="hyper"><a href="FormularioRegistro.html">Registrarse</a></p>
        </form>
    </div>
    
</body>
</html>